
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="@Url.Content("/Content/tables.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div> 
        @RenderBody()
        
    </div>
</body>
</html>
