USE [master]
GO
/****** Object:  Database [MusicDB]    Script Date: 11.02.2019 21:17:02 ******/
CREATE DATABASE [MusicDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MAMORY\MSSQL\DATA\MusicDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MAMORY\MSSQL\DATA\MusicDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicDB]
GO
USE [MusicDB]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 11.02.2019 21:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pwd_salt]    Script Date: 11.02.2019 21:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pwd_salt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_user] [int] NOT NULL,
	[Salt] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Pwd_salt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sound]    Script Date: 11.02.2019 21:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sound](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Sound] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sound_gener]    Script Date: 11.02.2019 21:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sound_gener](
	[Id_sound] [int] NULL,
	[Id_gener] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Sound_gener] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11.02.2019 21:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Pwd] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([Id], [Name]) VALUES (1, N'Rok')
INSERT [dbo].[Genre] ([Id], [Name]) VALUES (2, N'PoP')
SET IDENTITY_INSERT [dbo].[Genre] OFF
SET IDENTITY_INSERT [dbo].[Pwd_salt] ON 

INSERT [dbo].[Pwd_salt] ([Id], [Id_user], [Salt]) VALUES (1, 1, N'D179CF30F5D68C8F1374B2D0C31D7271')
SET IDENTITY_INSERT [dbo].[Pwd_salt] OFF
SET IDENTITY_INSERT [dbo].[Sound] ON 

INSERT [dbo].[Sound] ([Id], [Name]) VALUES (1, N'2NE1 – fire (aon live).mp3')
SET IDENTITY_INSERT [dbo].[Sound] OFF
SET IDENTITY_INSERT [dbo].[Sound_gener] ON 

INSERT [dbo].[Sound_gener] ([Id_sound], [Id_gener], [Id]) VALUES (1, 1, 1)
INSERT [dbo].[Sound_gener] ([Id_sound], [Id_gener], [Id]) VALUES (1, 2, 2)
SET IDENTITY_INSERT [dbo].[Sound_gener] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [Pwd], [Status], [isActive]) VALUES (1, N'drift', N'9CBDAF680EEC4488EADB422C261F508E', 0, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Pwd_salt]  WITH CHECK ADD  CONSTRAINT [FK_Pwd_salt_User] FOREIGN KEY([Id_user])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Pwd_salt] CHECK CONSTRAINT [FK_Pwd_salt_User]
GO
ALTER TABLE [dbo].[Sound_gener]  WITH CHECK ADD  CONSTRAINT [FK_Sound_gener_Genre] FOREIGN KEY([Id_gener])
REFERENCES [dbo].[Genre] ([Id])
GO
ALTER TABLE [dbo].[Sound_gener] CHECK CONSTRAINT [FK_Sound_gener_Genre]
GO
ALTER TABLE [dbo].[Sound_gener]  WITH CHECK ADD  CONSTRAINT [FK_Sound_gener_Sound] FOREIGN KEY([Id_sound])
REFERENCES [dbo].[Sound] ([Id])
GO
ALTER TABLE [dbo].[Sound_gener] CHECK CONSTRAINT [FK_Sound_gener_Sound]
GO
USE [master]
GO
